body {
	margin:auto;
}
#container {
	width: 60%;
	margin: auto;
	margin-top: 20px;
}
#header{
	margin:auto;
	background-color: #ddd;
	font-size: 40px;
	margin-bottom: 20px;
	text-align: center;
}
#header #searchbar{
	font-size: 15px;
	padding: 5px;
}
#nav {
	display: inline-block;
	text-align: center;
	margin:auto;
}
#nav a {
	color: #fff;
	margin:auto;
	text-align: center;
}
#message {
	color:green;
}
#FormErrorMessage {
	color:red;
}
#footer {
	margin: auto;
	text-align: center;
	padding: 10px;
}
